{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "class-methods-use-this": "off",
    "max-len": [1, 200],
    "no-underscore-dangle": "off",
    "linebreak-style": [0, "windows"],
    "semi": "off"
  }
}
